#input-file: /home/kah/Downloads/AirBase_v8_statistics.csv
#input-file: /home/kah/Downloads/AirBase_v8_measurement_configurations.csv
#input-file: /home/kah/Downloads/AirBase_v8_stations.csv
input-file: src/test/resources/AirBase_AL_v8/AirBase_AL_v8_statistics.csv
input-file: src/test/resources/AirBase_AL_v8/AirBase_AL_v8_stations.csv
input-file: src/test/resources/AirBase_AL_v8/AirBase_AL_v8_measurement_configurations.csv
xml-file: src/test/resources/AirBase_AL_v8/AL_meta.xml